* {
    box-sizing: border-box;
}

body{
    background-color: greenyellow;
}

label {
    margin-left: 12px;
    font-weight: bold;
    font-size: large;
    line-height: 35px;
}

hr {
   border: solid;
   border-radius: 15px;
}

.container {
    width: 1910px;
    height: 364px;
}

.leftside {
    width: 498px;
    height: 544px;
    margin: auto;
    margin-top: -555px;
    margin-left: 7px;
    background: rgba(255,255,255,0.5);
    border-radius: 40px;
}

.rightside {
    width: 508px;
    height: 711px;
    margin: auto;
    margin-top: -711px;
    margin-left: 1386px;
    background: rgba(255,255,255,0.5);
    border-radius: 40px;
}

.chest {
    width: 861px;
    height: 685px;
    margin: auto;
    margin-top: -177px;
    background: rgba(0,0,0,0.2);
    border-radius: 32px;
    margin-left: 27%;
}

.watermark {
    width: 415px;
    height: 350px;
    margin-top: 25px;
    margin-left: 85px;
    background: rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 17px;
}

.principle {
    width: 43%;
    height: 157px;
    margin-left: 516px;
    margin-top: -322px;
    max-width: 69%;
}

.intestazione {
    font-weight: bold;
    font-family: fantasy;
    font-size: 27px;
    letter-spacing: 5px;
    text-align: right;
}

.propeller {
    width: 15%;
    height: 17%;
    float: right;
    margin-top: -6%;
    margin-right: 10%;
}

.icone {
    width: 90px;
    height: 115px;
    margin-left: 2%;
    margin-top: 3%;
}

.descrizione {
    font-weight: bold;
    vertical-align: 250%;
    margin-left: 2%;
    color: white;
    font-size: large;
    font-family: cursive;
}

#chef {
    width: 95%;
    height: 70%;
    margin-left: 5%;
}

#principleimg {
    margin-top: 10px;
    width: 530px;
    height: 295px;
}

#linea {
    line-height: 10px;
}

#margintop {
    border: dotted;
    color: red;
    margin-bottom: -10%;
}

#marginbottom {
    margin-top: -10%;
    border: dotted;
    color: red;
}

#eat {
    margin-top: -18%;
    margin-left: 26%;
    font-size: xx-large;
    font-family: sans-serif;
    color: navy;
    font-weight: 900;
    margin-bottom: 2%;
}

#and {
    margin-top: -3%;
    margin-left: 36%;
    font-size: xx-large;
    font-family: sans-serif;
    color: white;
    font-weight: 900;
}

#pay {
    margin-left: 35%;
    font-size: xx-large;
    font-family: sans-serif;
    color: red;
    font-weight: 900;
    margin-top: -4%;
}

#top {
    margin-top: 7%;
    color: #1175f1;
    width: 160%;
}

#bottom {
    margin-top: 11%;
    color: #1175f1;
    width: 160%;
}

#menu {
    text-align: center;
    padding: 20px;
    font-family: cursive;
    word-spacing: 11px;
    color: black;
    font-weight: bold;
}

#menurule {
    width: 95%;
}

#caption {
    text-align: center;
    padding: 17px;
}

#description {
    font-weight: bold;
    font-size: large;
    margin-left: 7px;
}

#loschifo {
    width: 61%;
    margin-top: 4px;
    margin-left: 87px;
    border-radius: 21px;
}

#bomba {
    width: 42%;
    height: 30%;
    margin-left: 29%;
    margin-top: 12%;
}

#scale {
    margin-left: 20px;
}

#parere {
    margin-left: 12px;
    border-radius: 11px;    
    margin-top: 8px;
}

#address {
    border-radius: 11px;

}

#name {
    border-radius: 11px;
}